body{
	max-width: 800px;
	margin: auto;
	font-family: lato;
}

.centrat{
	text-align: center;
}

.lletra_gran{
	font-size: 1.3em;
}

.targeta{
	border: 1px solid gray;
	border-radius: 5px;
	float: left;
	overflow: auto;
	padding: 10px;
	width: 20%;
	margin:5px;
	min-height: 2.5em;
}

.targeta:hover{
	background-color: #ededed;
	cursor: pointer;
}

.seccio{
	overflow:auto;
	clear: both;
}

#menu{
	position: sticky;
	top: 0;
}

#menu > ul{
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	overflow: auto;
	background-color: #ffffff;
}

#menu > ul > li{
	float: left;
	margin-right: 1px;
	font-size: 1.1em;
	padding: 10px;
	color: white;
	overflow: auto;
}

#menu ul li{
	list-style-type: none;
	background-color: black;
}

#menu_tramits{
	display: none;
	padding: 0;
}

#menu_tramits > li {
	margin-top: 1px;
	padding: 10px 0px 5px 0px;
}

.centrat input{
	width: 60%;
	margin-bottom: 30px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
}

.centrat textarea{
	width: 60%;
	margin-bottom: 30px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
}

.condicions{
	font-size: 0.8em;
}

.condicions input{
	vertical-align: top;
}

button{
	margin-top: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #4286f4;
	font-weight: bold;
	color:white;
}

button:hover{
	background-color: #719ee8;
	cursor: pointer;
}
ol{
	list-style-type: lower-alpha;
}


