body{
	max-width: 600px;
	margin: auto;
	font-family: lato;
}

.centrat{
	text-align: center;
}

.centrat input{
	width: 60%;
	margin-bottom: 30px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
}

.centrat textarea{
	width: 60%;
	margin-bottom: 30px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 10px;
}

.condicions{
	font-size: 0.8em;
}

.condicions input{
	vertical-align: top;
}

button{
	margin-top: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #4286f4;
	font-weight: bold;
	color:white;
}

button:hover{
	background-color: #719ee8;
	cursor: pointer;
}
ol{
	list-style-type: lower-alpha;
}


