p{text-align: justify;}
p+p{text-indent: 3em;}

input{
	margin-bottom: 1em;
	border-radius: 5px;
	font-size: 1em;
	padding: 10px;
}

select{
	font-size: 1em;
	padding: 2px;
}

.email{
	width: 50%;
	border: solid 1px gray;
}

.email:focus{
	border-color: blue;
	border-radius: 5px;
}
.centrat{
	text-align: center;
}


.targeta{
	border: 1px solid gray;
	border-radius: 5px;
	padding: 15px;
	margin:1em 0;
}

.targeta2{
	background-color: #f5f5f5;
	border-radius: 5px;
	padding: 15px;
	margin:1em 0;
}

input.button{
	border:none;
	background-color: #428aff;
	color: white;
	font-weight: bold;
}

.button:hover{
	background-color: #72a8ff;
	cursor: pointer;
}

.faq ol > li {
	font-weight: bold;
}

#nombreMatricules{
	padding: 5px;
}

button{
	border:none;
	background-color: #00c18e;
	color: white;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
	margin-right: 1.5em;
	font-size: 1em;
}

button:hover{
	background-color: #008c67;
	cursor: pointer;
}

.botoBlau{
	border:none;
	background-color: #428BCA;
	color: white;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
	margin-right: 1.5em;
	font-size: 1em;
}

.botoBlau:hover{
	background-color: #86ACCE;
}

.botoBlau:focus{
	background-color: #428BCA;
}

#preguntesAnticAlumne{
	margin-left:3em;
	display: none;
}

input[type="checkbox"]{
	transform: scale(1.2);
}

fieldset{
	margin-top: 2em;
	padding-top: 1em;
	width: 50%;
	border-radius: 5px;
}

#tramits, #docAddicionals{
	display:none;
	margin-bottom: 3em;
}

.contenidor1{
	display: grid;
	grid-template-columns: 50% 50%;
}

.contenidor1 .botoBlau{
	width: 50%;
}

.contenidor2{
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-gap: 1em;
}

.contenidor2 .botoBlau{
	width: 90%;
}

.quadrant{
	margin: auto;
}

.far, .fas{
	font-size: 1.5em;
}

table{
	border-collapse: collapse;
}

thead{
	color: white;
	background-color: #7a7a7a;
}
td, th{
	border: 1px solid black;
	padding: 5px;
}

.fa-info-circle{
	color: #0000EE;
}

.fa-question-circle{
	margin-right: 0.7em;
	font-size: 1.2em;
	color: #999999;
}

.fa-question-circle:hover{
	cursor: pointer;
}
.contenidorAvis{
	position: relative;
}

.avis{
	font-size: 0.8em;
	padding: 5px;
	/*background-color: #c6c6c6;*/
	background-color: #9304e5;
	color: #ffffff;
	border-radius: 5px;
	position: absolute;
	top:0;
	text-align: left;
}

li .fa-info-circle {
	margin-left: 0.7em;
}

.ocult{
	display: none;
}

.destacat{
	color:#9304e5;
}

.modal{
	position: fixed;
	z-index: 1;
	max-width: 800px;
	width: auto;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
	padding-top: 100px;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.tancar-modal{
	background-color: #ff0000; /*rojo pasión*/
	color: white;
}

.tancar-modal:hover{
	background-color: #fc7171; /*vermell atenuat*/
}
