body{
	max-width: 800px;
	margin: auto;
	font-family: lato;
	font-size: 18px;
	font-weight: 300px;
}

#contenidorEOI{
	position:relative;
	overflow-x: auto;
}

p{text-align: justify;}

p+p{text-indent: 3em;}

.taulaProces{
	width: 100%;
}

.taulaProces .capseleraTaula {
	text-align: center;
	font-size: 1.5em;
}

.taulaProces td{
	border:none;
}

.taulaProces tbody tr{
	border-bottom: 1px dotted black;
}

.taulaProces tbody td{
	padding-bottom: 1em;
}

.taulaProces thead{
	background-color: gray;
	color:white;
	font-weight: bold;	
}

.icona{
	text-align: center;
}

.icona .fas, .fab{
	font-size: 1.2em;
	margin-right: 0;
}

.verd{
	color:#17b217;
}

a.verd:hover{
	color: #085b08;
}

.negre{
	color:black;
}

.vermell{
	color:red;
}

.blau{
	color:blue;
}

.colA{
	width: 30%;
}
.colB{
	width: 38%;
}
.colC{
	width: 8%;
}

input{
	margin-bottom: 1em;
	border-radius: 5px;
	font-size: 1em;
	padding: 10px;
}

select{
	font-size: 1em;
	padding: 2px;
}

.email{
	width: 50%;
	border: solid 1px gray;
}

.email:focus{
	border-color: blue;
	border-radius: 5px;
}
.centrat{
	text-align: center;
}


.targeta{
	border: 1px solid gray;
	border-radius: 5px;
	padding: 15px;
	margin:1em 0;
}

dt{
	font-weight: bold;
	color: #0200af;
}

dd{
	padding-bottom: 0.5em;
}

.botoBlanc{
	border: none;
	border-radius: 5px;
	background-color: inherit;
	padding: 10px;
}

.botoGris{
	color:white;
	background-color: gray;
}

.botoBlanc:hover{
	text-decoration: underline;
	background-color: #f5f5f5; /*Gris per WordPress*/
}

button:hover{
	cursor: pointer;
}

.targeta2{
	background-color: #f5f5f5;
	border-radius: 5px;
	padding: 15px;
	margin:1em 0;
}

input.button{
	border:none;
	background-color: #428aff;
	color: white;
	font-weight: bold;
}

.button:hover{
	background-color: #72a8ff;
	cursor: pointer;
}

.faq ol > li {
	font-weight: bold;
}

#nombreMatricules{
	padding: 5px;
}

.botoVerd{
	border:none;
	background-color: #17b217;
	color: white;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
	font-size: 1em;
	margin-right: 1.5em;
}

.botoVerd:hover{
	background-color: #085b08;
	cursor: pointer;
}

.botoBlau{
	border:none;
	background-color: #428BCA;
	color: white;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
	margin-right: 1.5em;
	font-size: 16px;
}

.botoBlau:hover{
	background-color: #86ACCE;
}

.botoBlau:focus{
	background-color: #428BCA;
}

#preguntesAnticAlumne{
	margin-left:3em;
	display: none;
}

input[type="checkbox"]{
	transform: scale(1.2);
	margin-top: 10px;
}

fieldset{
	margin-top: 2em;
	padding-top: 1em;
	width: 50%;
	border-radius: 5px;
	text-align: left;
}

#tramits, #docAddicionals{
	display:none;
	margin-bottom: 3em;
}

.contenidor50{
	display: grid;
	grid-template-columns: 50% 50%;
}

.contenidor50 button{
	width: 50%;
	height:3.8em;
}

.contenidor50 div{
	text-align: center;
}

.contenidor33{
	padding-top: 1em;
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-row-gap: 1em;
	width: 100%
}

.contenidor33 button{
	width: 90%;
}

.quadrant{
	margin: auto;
}

.far, .fas{
	margin-right: 0.4em;
	font-size: 1em;
}

table{
	border-collapse: collapse;
}

thead{
	color: white;
	background-color: #7a7a7a;
}

td, th{
	border: 1px solid black;
	padding: 5px;
}

.fa-question-circle{
	margin-left: 0.7em;
	font-size: 1.2em;
	color: #999999;
}

.fa-question-circle:hover{
	cursor: pointer;
}
.contenidorAvis{
	position: relative;
}

.avis{
	font-size: 0.8em;
	padding: 5px;
	background-color: #9304e5;
	color: #ffffff;
	border-radius: 5px;
	text-align: left;
}

#avisAdaptacio{
	position: absolute;
	bottom: 3em;
	left: -0.5px;
}

#avisTrasllatExpedient{
	position: absolute;
	top:3em;
	left: -0.5em;
	border: solid 1px black;
}

/*Popup zona d'influència*/
#popup{
	position: absolute;
	top:200%;
	margin-left: -300%;
}

li .fa-info-circle {
	margin-left: 0.7em;
}

.ocult{
	display: none;
}

.destacat{
	color:#9304e5;
}

.modal{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6); /*negre amb opacitat de 0.6*/
	padding-top: 100px;
}

.modal-content {
  background-color: #fefefe; /*blanc*/
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  overflow: auto;
}

.tancar-modal{
	background-color: #428BCA;
	color: white
}

.tancar-modal:hover{
	background-color: #86ACCE;
}

.contenidorTaula{
	overflow-y: auto;
}

/*Popup Atenció al públic*/
.apContainer{
	position: relative;
	/*display: inline-block;*/
	width: 100%;
	top: 35%;
}

.apContainer .apPopup {
	background-color: #9304e5;
  	color: #fff;
	text-align: left;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -240px;
	margin-right: -100px;
	visibility: hidden;
}

.apContainer .show {
  visibility: visible;
}

#atencioPublic{
	border: 1px solid black;
	border-radius:5px;
	padding: 10px;
}

#atencioPublic:hover{
	text-decoration: underline;
	cursor: pointer;
}

#atencioPublic:focus{
	text-decoration: none;
}

/*Estrucutura per web en Wordpress*/
label{padding-left: 5px; padding-right:1em;}

input[type="number"]{width:3em;}

select[name="situacio"]{width:28em;}
button{font-size:16px;}

#columnaTramit{width:10em;}



.contenidorTaula{overflow-x:auto;}

.globus{
	background-color: gray;
	color: white;
	padding: 10px 25px 10px 10px;
	border-radius: 5px;
	font-size: 0.8em;
	z-index: 1;
}

#globusAtencioPublic{
	position:absolute;
	top: -15em;
}

.contenidorGlobus{
	position:relative;
}

.amagat{
	visibility: hidden;
}

/*Paràmetres responsive*/
@media screen and (max-width:680px){
	#globusAtencioPublic{
		left:-5em;
	}
}

@media screen and (max-width:450px){
	#globusAtencioPublic{
		left:-9em;
		top:-16em;
	}
}
/*@media screen and (max-width: 1280px){
	fieldset{
		width: 100%;
	}
	#caixa{
		font-size: 0.8em;
	}
	.apContainer .apPopup{
		margin-left: -280px;
	}

	.contenidor2 .botoBlau{
		width: 75%;
	}

	.botoBlau{
		font-size: 0.8em;
	}	
}*/