body{
	max-width: 800px;
	margin: auto;
	font-family: lato;
	font-size: 18px;
	font-weight: 300px;
}

#contenidorEOI{
	position:relative;
	overflow-x: auto;
}
/*Llista de descripció*/
dt{
	font-weight: bold;
	color: #0200af;
}

dd{
	padding-bottom: 0.5em;
}

/*Estil del formulari*/
.entry-content form ul > li {
    list-style-type: none;
}

input[type="checkbox"]{
	margin-right: 0.3em;
}

input[type="submit"]{
	background-color: #428BCA;
}

input[type="submit"]:hover{
	background-color: #86ACCE;
}

input[type="submit"]:focus{
	background-color: #428BCA;
}

/**********Taula del calendari del procés d'admissió*************/
.taulaProces{
	width: 100%;
}

.taulaProces .capseleraTaula {
	text-align: center;
	font-size: 1.5em;
}

.taulaProces td{
	border:none;
}

.taulaProces tbody tr{
	border-bottom: 1px dotted black;
	
}

.taulaProces tbody td{
	padding-bottom: 1em;
}

.taulaProces thead{
	background-color: gray;
	color:white;
	font-weight: bold;
}

.icona{
	text-align: center;
}

.icona .fas, .fab{
	font-size: 1.2em;
	margin-right: 0;
}

.verd{
	color:#17b217;
}

a.verd:hover{
	color: #085b08;
}

.negre{
	color:black;
}

.vermell{
	color:red;
}

.blau{
	color:blue;
}

.blau a{
	color:blue;
}

.colA{
	width: 30%;
}
.colB{
	width: 38%;
}
.colC{
	width: 8%;
}

/*******************Targetes i contenidors************************/

/*Contenidor principal*/
#contenidorEOI{
	position:relative;
	overflow-x: auto;
}

.targeta{
	border: 1px solid gray;
	border-radius: 5px;
	padding: 15px;
	margin:1em 0;
}

.contenidor33{
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-row-gap: 1em;
	width: 100%
}

.contenidor33 button{
	width: 90%;
}

.globus{
	background-color: gray;
	color: white;
	padding: 10px 25px 10px 10px;
	border-radius: 5px;
	font-size: 0.8em;
	z-index: 1;
	visibility: hidden;
}

#globusAtencioPublic{
	position:absolute;
	bottom: 115%;
	right:0;
	width: 150%;
	
}

/*Fletxa globus*/
#globusAtencioPublic::after{
	content:"";
	position: absolute;
	border-width: 8px;
	top: 100%;
	left:50%;
	border-style: solid;
	border-color: gray transparent transparent transparent;
}

@media screen and (max-width:450px){
	#globusAtencioPublic{
		width: 200%;
	}
}

#globusAtencioPublic ul{
	margin-bottom: 0;
}

.contenidorGlobus{
	position:relative;
}

.globusVisible{
	visibility: visible;
	animation: fadeIn 1s;
}

/*Transició per mostrar el glogus d'atenció al públic*/
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/**************Botons***********/
.botoVerd{
	border:none;
	background-color: #17b217;
	color: white;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
	margin-right: 1.5em;
	font-size: 1em;
}

.botoVerd:hover{
	background-color: #085b08;
	cursor: pointer;
}

.botoBlau{
	border:none;
	background-color: #428BCA;
	color: white;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
	margin-right: 1.5em;
	font-size: 16px;
}

.botoBlau:hover{
	background-color: #86ACCE;
}

.botoBlau:focus{
	background-color: #428BCA;
}

.botoBlanc{
	border: none;
	border-radius: 5px;
	background-color: inherit;
	padding: 10px;
	color: black;
}


.botoBlanc:hover{
	text-decoration: underline;
	background-color: inherit;
	color: black;
}

.botoBlanc:focus{
	background-color: inherit;
	color: black;
}

.botoGris{
	color:white;
	background-color: gray;
}

.botoGris:focus{
	color: white;
	background-color: gray;
}

button:hover{
	cursor: pointer;
}

/**********Font awesome************/
.far, .fas{
	margin-right: 0.4em;
	font-size: 1em;
}

